@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities;

*/
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 23, 23, 23;
  --background-end-rgb: 23, 23, 23;
} 
  


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif;
}

.glass-card {
  background: rgba(38, 38, 38, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(47, 47, 47, 1);
}

.gradient-text {
  background: linear-gradient(135deg, #9e7fff 0%, #38bdf8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-glow {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(158, 127, 255, 0.15) 0%,
    transparent 70%
  );
  filter: blur(60px);
  z-index: -1;
}
